name = "traductor-signal"
main = "src/index.js"
compatibility_date = "2026-01-06"

[durable_objects]
bindings = [{ name = "ROOMS", class_name = "RoomDO" }]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RoomDO"]
